<head>
    <meta charset="utf-8">
    <title>Elliott's Computer</title>
    <meta name="description" content="Elliott Cost's blog, files, and experiments.">
    <meta name="author" content="Elliott Cost" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://files.elliott.computer/images/maui.jpg">
    <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">

    <style>
        hr {
            background: {{ page.color }}
        }
    </style>
</head>