<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include _meta.html -%}

  <body>
    
    <div id="html-energy" style="position: fixed; top: 20vh; right: 30vw; z-index: 9999999;">
      <a href="http://html.energy" style="text-decoration: none; font-size: 1.1em;">❇️</a>
    </div>

    <article>
          <header class="post-header">
            {%- include _nav.html -%}
          </header>
        
          <div class="post-content">
            {{ content }}
          </div>
    </article>

    {%- include _footer.html -%}

  </body>

</html>
