---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <section>
        <h2>Pots</h2>

          {% assign posts_query = site.posts | where: "type", "pots" %}

          {%- for post in site.posts -%}
            {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
              <div class="post-link-wrapper">
                <a class="post-link" href="{{ post.url | relative_url }}">
                  <span class="dot" style="background: {{ post.color }}"></span>
                  {{ post.title | escape }} {%- if post.type == 'interview' -%}&nbsp;<span class="type">[interview]</span>{%- endif -%}
                </a>
              </div>
          {%- endfor -%}

    </section><br />
    
    <!-- <p class="feed-subscribe"><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
  {%- endif -%}
  
  <img src="https://www.nps.gov/webcams-hale/HaleSummitCamCrater.jpg" style="width:300px;border-radius: 100%;" />

  <br /><br />

  <div style="display: inline-block; width: 196px; margin-right: 0.5em;"> <a href="http://emptyday.today" sytle="display: block;"> <img src="icons/e-emptyday-icon8.png" width="196" style="display: block; margin-bottom: 18px;"> </a><div style="font-family: serif; font-size: 18px; line-height: 24px; margin-bottom: 18px; text-align: center;"> <a href="http://emptyday.today" style="color: black; background: transparent;">http://emptyday.today</a><br> October 11, 2019</div></div>

  <br /><br />

</div>
