<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include _meta.html -%}

  <body>

    <article>
          <header class="post-header">
            {%- include _nav.html -%}
          </header>
        
          <div class="post-content">
            {{ content }}
          </div>

          <br />

          <hr />
        
          <p><em>Published on {{ page.date | date: '%B %-d, %Y' }}</em></p>
        
          <div id="pagination-wrapper">
            {%- if page.next.url -%}
              <a href="{{ page.next.url }}" class="pagination">🍀 Next</a><br />
            {%- endif -%}
            
            {%- if page.previous.url -%}
              <a href="{{ page.previous.url }}" class="pagination">🌼 Previous</a><br /><br />
            {%- endif -%}
          </div>
    </article>

    {%- include _footer.html -%}

  </body>

</html>